body
{ 
	  background-image: url("c3.jpg");
      background-repeat:repeat;
      background-position:center;
      background-attachment:fixed;
}

h2.Mainheading
{
	color: #000000;
	text-align: center;
}

h3.forColor
{
	color: #030303 ;
}

.textTransparent
{
	width: 280px ;
	background: transparent;
	font-size: 15px ;
	font-weight: bold;
	border-radius: 10px ;
	height: 28px ;
	text-align: center;

}

div.newss
{
	background-color:#C1FFC1;
	font-size: 20px;

}


border
{
	table-layout: fixed;
}

select.options
{
	width: 275px;
	background: transparent;
	font-size: 16px ;
	font-weight: bold;
}


#tdSup 
{
	font-size: 22px ;
	color: #030303;
	font-style: oblique ;
	font-weight: bold;
	padding-top: 10px ;
}

.backSet
{
	background: #458B74 ;
}

#hovereffect:hover
{
	background:#6A5ACD;
	color:white;

}

#trform
{
	margin-right:60% ; 
	padding: 80px ;
}

#tdLogin 
{
	width: 230px ;
	text-align: center;
	font-size: 28px ;
	color: #030303;
	font-weight: bold;
}

input.buttons
{
	height: 50px ;
	width: 150px ;
	font-size: 30px;
	background-color: #9AFF9A;
}

td.LatNews
{
	width: 100px ;
	font-size: 14px ;
	background-color: #9AFF9A;
	font-weight: bold;
}

.field
{
	background: #00688B;
	border-radius:10px;
	width:52%;
	height: 90% ;
	margin-left:350px;
	text-align: center;
}


#anc
{
	margin-top: -4px ;
	margin-bottom: -16px ;
	padding: none ;
}